<nav class="main-nav" aria-label="{{ 'a11y.main_nav' | t: default: 'Головне меню' }}">
  <ul>
    <li>
      <a href="{{ routes.all_products_collection_url }}">{{ 'nav.shop_all' | t: default: 'Усі товари' }}</a>
    </li>
  </ul>
</nav>
