<p class="text-secondary text-large" product-price>
  {%- if product.compare_at_price > product.price -%}
    <span>{{ product.price | money_without_trailing_zeros }}</span>
    <span class="line-through">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
  {%- else -%}
    <span>{{ product.price | money }}</span>
  {%- endif -%}
</p>
