<p class="product__price text-large">
  {%- if product.compare_at_price > product.price -%}
    <span class="price-sale">{{ product.price | money_without_trailing_zeros }}</span>
    <span class="price-old">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
  {%- else -%}
    <span class="price">{{ product.price | money }}</span>
  {%- endif -%}
</p>
