:root {
  --primary-color: #111111;
  --primary-color-rgb: 17, 17, 17;
  --primary-bg-color: #ffffff;
  --secondary-color: #737373;
  --border-color: #ebebeb;
  --container-padding: 24px;
  --container-size: calc(1320px + var(--container-padding) * 2);
}

.container {
  max-width: var(--container-size);
  padding: 0 var(--container-padding);
  margin: 0 auto;
  width: 100%;
}

.title {
  font-size: 48px;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
}

.title-small {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.text-large {
  font-size: 16px;
  line-height: 24px;
}

.text-medium {
  font-size: 14px;
  line-height: 20px;
}

.btn {
  font-size: 16px;
  line-height: 24px;
  padding: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  transition: all 0.3s;
}

.btn-dark {
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
}

.btn-dark:hover {
  background-color: var(--secondary-color);
}

.product {
  padding: 80px 0;
}

.product__wrapper {
  color: var(--primary-color);
  display: flex;
  gap: 60px;
}

.product__gallery {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
}

.product__thumbnails-set {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.product__thumbnails-set.active {
  display: flex;
}

.product__thumb {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  border: none;
  padding: 0;
  border-radius: 8px;
}

.product__thumb--active {
  position: relative;
}

.product__thumb--active::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 88px;
  height: 88px;
  z-index: 5;
  border-radius: 8px;
  background-color: rgba(var(--primary-color-rgb, 0, 0, 0), 0.2);
}

.product__img--mini {
  width: 88px;
  height: 88px;
  border-radius: 8px;
  cursor: pointer;
}

.product__main {
  position: relative;
  max-width: 536px;
  width: 100%;
}

.product__image {
  max-width: 536px;
  aspect-ratio: 1;
  width: 100%;
  border-radius: 8px;
}

.product__color--active {
  border: 1px solid var(--primary-color);
}

.product__badge {
  position: absolute;
  display: flex;
  gap: 4px;
  left: 16px;
  top: 16px;
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  padding: 8px;
}

.product__info {
  max-width: 612px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__title {
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--primary-color);
}

.product__price {
  color: var(--secondary-color);
  .price-old {
    text-decoration: line-through;
  }
}

.product__colors {
  display: flex;
  gap: 8px;
}

.product__size-text {
  margin-bottom: 12px;
}

.product__sizes {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
}

.product__size {
  border: 1px solid var(--border-color);
  font-size: 14px;
  line-height: 20px;
}

.product__size--active {
  border: 1px solid var(--primary-color);
}

.product__desc {
  color: var(--secondary-color);
  padding: 0;
}
