.featured-products-section {
  color: #111111;
}
.featured-products__title {
  color: inherit;
  text-align: center;
}
.featured-product__title {
  color: inherit;
  margin-top: 0;
  margin-bottom: 5px;
}
.featured-product__price {
  margin-top: 0;
  margin-bottom: 2px;
}
.featured-products__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width: 750px) {
  .featured-products__grid {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
@media (min-width: 1024px) {
  .featured-products__grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
